* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
  min-height: 100vh;
  max-width: auto;
  margin: 0rem auto;
  }
  
  body {
  font-family: 'Bad Script';
  background: url(Assets/bg.png) repeat;
}

:root {
  --red: #f0394d;
  --lred: #fa4753;
  --white: #ffffff;
  --black: #17181c;
  --blue: #98A5C9;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 20px 0px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  background: url(Assets/scrollbar.png) repeat center;
  background-size: 100%;
}

.text-center {text-align: center;}
.cred {color: var(--red) !important;}
.cblack {color: var(--black) !important;}
.cwhite {color: var(--white) !important;}
.folav {font-family: 'Great Vibes', cursive;}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.text1 {
  font-weight: bold;
  font-size: 1vmin;
}
.text2 {
  font-weight: bold;
  font-size: 2vmin;
}
.text3 {
  font-weight: bold;
  font-size: 3vmin;
}
.text4 {
  font-weight: bold;
  font-size: 4vmin;
}
.text5 {
  font-weight: bold;
  font-size: 5vmin;
}
.text6 {
  font-weight: bold;
  font-size: 6vmin;
}
.text7 {
  font-weight: bold;
  font-size: 7vmin;
}

/* NAVIGATION */

.navbar-sticky-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: #fff;
  padding: 10px 15px;
  z-index: 1000;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  transition: background-color 0.3s ease;
}
.navbar-sticky-button:hover {background-color: #f00; color: white;}
.navbar-sticky-button svg {
  font-size: 2.5rem;
  cursor: pointer;
}

/* HOME */

.home {
  background: url(Assets/bg_up.png) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content {
  height: 100%;
  width: 100%;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.6);
}
.div-home {
  height: 100vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.home-title {
  position: relative;
  height: 45%;
  width: 50%;
  color: var(--white);
}
.home-bro {
  position: absolute;
  z-index: 50;
  top: 55%;
  left: 50%;
  transform: translate(-100%, -100%);
}
.bro-title {
  font-family: 'Great Vibes';
  font-size: 15vh;
  margin: 0;
  padding: 0;
}
@keyframes heart {
  0% {transform: scale(0.9);}
  50% {transform: scale(1.1);}
  100% {transform: scale(0.9);}
}
.home-symbol {
  position: absolute;
  z-index: 0;
  opacity: 0.75;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(15deg);
}
.home-symbol img {
  animation: heart 1s ease-in-out infinite;
  height: 40vmin;
}
.home-gro {
  height: fit-content;
  position: absolute;
  z-index: 50;
  top: 45%;
  left: 50%;
  transform: translate(0%, 0%);
}
.gro-title {
  font-family: 'Great Vibes';
  font-size: 15vh;
  margin: 0;
  padding: 0;
}
.home-get-text {
  margin: 0px 0px 3vmin 0px;
  color: var(--white);
}
.home-date {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.home-date-title {
  border-top: 2px solid var(--red);
  border-bottom: 2px solid var(--red);
}
.home-date-text {
  margin: 1px 0px;
  border-top: 2px solid var(--red);
  border-bottom: 2px solid var(--red);
  padding: 4px 35px 15px 35px;
}
.home-symbol-dual {
  height: 30px;
  transform: translateY(calc(-50% - 4px));
}
.home-symbol-dual img {
  height: inherit;
  width: inherit;
}
.button {
  cursor: pointer;
  position: relative;
  height: 80px;
  width: 300px;
  border-radius: 40px;
  overflow: hidden;
  border: 3px solid var(--red);
  transition: all 1s ease;
}
.button .tex {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  font-size: 40px;
  font-weight: bold;
  color: var(--white);
}
.layer {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 150px;
  width: 40px;
  height: 40px;
  transform: translate(-50%, 35%);
  background-image: url("Assets/love.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
.button:hover .layer {
  transform: translate(-50%, 50%);
  width: 400px;
  height: 400px;
}

/* ABOUT */

.about {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6vh 5vw;
}
#about-section{
  width: 100%;
}
.div-about {
  margin-top: 3vmin;
  position: relative;
}
.photo-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.photo-sub {
  border-radius: 50%;
  margin: 2vmin;
  width: 25vmin;
  height: 25vmin;
  overflow: hidden;
  position: relative;
}
.photo-sub img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wife img {object-position: center 20%;}
.husband img {object-position: center 40%;}
.photo-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo-hover .photo-sub {
  background-color: #ffffff;
  border-radius: 50%;
  width: 15vmin;
  height: 15vmin;
  padding: 2.5vmin;
  overflow: hidden;
}
.photo-hover .photo-sub img {
  transform: translate(0%, 6%);
  width: 10vmin;
  height: 10vmin;
}
.about-div {
  margin-top: 3vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.about-text {
  width: 55%;
  color: var(--black);
  padding: 12px;
  font-size: 20%;
  margin-top: 6px;
  margin-bottom: 16px;
}
.at-right{
  text-align: right;
}

/* COUNTDIWN */

.countdown {
  background: url(Assets/bg_left.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown-content {
  height: 100%;
  width: 100%;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.6);
  padding: 8vh 5vw;
}
.div-cpunt {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.invitation {
  text-align: center;
  margin: 15px 0px;
  font-weight: bold;
  color: var(--white);
  font-size: 4vmin;
}
.con-pat {
  padding: 5vmin 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
}
.con-pat .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 40vw;
}
.BG-nam {
  font-weight: bold;
  font-size: 6vmin;
}
.BG-nam img {
  transform: translateY(30%);
  height: 10vmin;
  width: 10vmin;
}
.con-pat .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 40vw;
}
.but-map {
  font-family: sans-serif;
  cursor: pointer;
  height: 60px;
  width: 258px;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.5s ease;
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
  padding: 4px;
}
.but-what {
  background: #25D366 !important;
}
.but-map-lay {
  cursor: pointer;
  height: 52px;
  width: 250px;
  border-radius: 26px;
  overflow: hidden;
  transition: all 0.5s ease;
  background: var(--white);
}
.but-map-lay .tex {
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: var(--black);
}
.but-map-lay img {
  height: 40px;
  width: 40px;
}
.but-map:hover .but-map-lay {
  background: none;
}
.but-map:hover .tex {
  color: var(--white);
}
#div-con-tim {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.div-com {
  width: 135px;
  margin: 20px;
  padding: 10px 25px;
  border: solid 4px var(--red);
  border-radius: 20px;
  background: url(Assets/bg.png) repeat;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.div-com .tim-val {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.div-com .tim-val-nam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.tim-val {
  font-weight: bold;
  font-size: 3.5vmin;
}
.tim-val-nam {
  font-weight: bold;
  font-size: 2vmin;
}

/* FAMILY */

.family {
  background: url(Assets/bg_round.png) no-repeat center;
  background-size: cover;
}
.family-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 3vh 5vw;
}
.choise {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.choise-img {
  width: 30vmin !important;
  height: 30vmin !important;
  max-width: 150px !important;
  max-height: 150px !important;
  margin: 3vmin !important;
}
.cir-div-card {
  position: relative;
  width: 50vmin;
  height: 50vmin;
  max-width: 250px;
  max-height: 250px;
}
.cir-div-card:hover .cir-card-bottom {
  background-color: var(--red);
}
.cir-div-card:hover .cir-card-top {
  transform: scale(1.02);
}
.car-man .active .cir-card-bottom {
  background-color: var(--red);
}
.car-man .active .cir-card-top {
  transform: scale(1.02);
}
.cir-card-top {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 50%;
  transition: all 0.3s linear;
  overflow: hidden;
}
.cir-card-top img {
  width: 100%;
  height: 100%;
}
.cir-card-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.03);
  z-index: -1;
  top: 2%;
  left: -2%;
  background-color: none;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.div-family {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.family-members {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.div-members {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}

/* Event */

.event {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6vh 5vw;
}
#event-section {
  width: 100%;
  align-items: center;
}
.div-event {
  margin-top: 3vmin;
  display: flex;
  justify-content:center;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.event-date {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.event-text {
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  margin: 10px;
  text-align: center;
}

/* Message */

.message {
  background: url(Assets/bg_down.png) no-repeat center;
  background-size: cover;
}
.message-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 6vh 5vw;
}
.div-message {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.div-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.form {
  color: var(--red);
  background-color: var(--white);
  padding: 12px;
  border-radius: 6px;
  border: 3px solid var(--red);
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 100%;
  resize: vertical;
  font-weight: bold;
}
.form-h {
  height:150px;
}
#Message_form .button .tex {
  color: var(--red) !important;
}
#Message_form .button:hover .tex {
  color: var(--white) !important;
}
input:focus {
  outline: none;
  color: var(--white);
  background-color: var(--red);
  font-weight: bold;
}
input:focus::placeholder {
  color: var(--white);
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
}
textarea:focus {
  outline: none;
  color: var(--white);
  background-color: var(--red);
  font-weight: bold;
}
textarea:focus::placeholder {
  color: var(--white);
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER */

.footer-wrapper {
  margin: 2rem;
  }
.footer-content {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.footer-icons {
  display: flex;
  align-items: center;
}
.footer-icons svg {
  font-size: 2.5rem;
  margin-right: 2rem;
  color: #585858;
}
.footer-section-two {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}

/* Each page */

.div-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.title-top-icon {
  height: 100px;
  width: 100px;
  font-size: 100px;
}
.title-top-icon img {
  height: inherit;
  width: inherit;
}
.title-bottom-icon {
  height: 30px;
  transform: translateY(calc(-50% - 4px));
}
.title-bottom-icon img {
  height: inherit;
  width: inherit;
}
.title-text-div {
  border-top: 2px solid var(--red);
  border-bottom: 2px solid var(--red);
}
.font-title {
  margin: 1px 0px;
  border-top: 2px solid var(--red);
  border-bottom: 2px solid var(--red);
  padding: 4px 15px 15px 15px;
}

/* Responsivity */

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {}

@media screen and (max-width: 1200px) {
    .con-pat {
        padding: 5vmin 3vmin;
        flex-direction: column;
        justify-content: center;
    }
    .con-pat .left, .con-pat .right {
        width: 80vw;
        margin-bottom: 3vmin;
    }
}

@media screen and (max-width: 1024px) {
    .title-top-icon {
        height: 75px;
        width: 75px;
        font-size: 75px;
    }
    .div-event {flex-direction: column;}
    .event-date {
        margin-top: 3vmin;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .title-top-icon {
        height: 60px;
        width: 60px;
        font-size: 60px;
    }
    .font-title {font-size: 6vmax;}
    .nav-logo-container {max-width: 140px;}
    .navbar-sticky-button svg {font-size: 1.5rem;}
    .footer-content {justify-content: center;}
    .footer-section-columns {margin: 1rem 0rem;}
    .footer-section-one {display: none;}
    .footer-section-two {
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;
        font-size: 30px;
    }
}

@media screen and (orientation: portrait) {
    .about,
    .countdown-content,
    .event,
    .family-content,
    .message-content {
        padding: 3.5vh 5vw;
    }
    .home-content {
        background: rgba(0, 0, 0, 0.5);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .div-home {width: 90vw;}
    .home-title {
        position: relative;
        height: 45vh;
        width: 80vw;
    }
    .home-bro {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    .home-symbol {
        opacity: 0.75;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(15deg);
    }
    .home-gro {
        top: 45%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .home-date-text {font-size: 6vmax;}
    .home-get-text {font-size: 5vmax;}
    .div-message {flex-direction: column;}
    .div-form {margin-bottom: 5vmin;}
    .tim-val {font-size: 6vmax;}
    .tim-val-nam {font-size: 3vmax;}
}

@media screen and (orientation: portrait) and (max-width: 768px) {
    .text2 {font-size: 2vmax;}
    .text3 {font-size: 3vmax;}
    .text4 {font-size: 4vmax;}
    .text5 {font-size: 5vmax;}
    .text6 {font-size: 6vmax;}
    .text7 {font-size: 7vmax;}
    .about .text7 {font-size: 5vmax;}
    .about .text5 {font-size: 3.5vmax;}
}

@media screen and (orientation: portrait) and (max-width: 480px) {
    .text2 {font-size: 1vmax;}
    .text3 {font-size: 2vmax;}
    .text4 {font-size: 2vmax;}
    .text5 {font-size: 3vmax;}
    .text6 {font-size: 1vmax;}
    .text7 {font-size: 4.5vmax;}
    .about .text7 {font-size: 3.5vmax;}
    .about .text5 {font-size: 2vmax;}
}

@media screen and (max-width: 400px) {
    .button {
        height: 20vmin;
        width: 60vmin;
        border-radius: 10vmin;
    }
    .button .tex {font-size: 8vmin;}
    .layer {
        bottom: 0px;
        left: 30vmin;
        width: 10vmin;
        height: 10vmin;
        transform: translate(-50%, 35%);
    }
    .button:hover .layer {
        transform: translate(-50%, 50%);
        width: 100vmin;
        height: 100vmin;
    }
}

@media screen and (max-width: 350px) {
    .but-map {
        height: 20vmin;
        width: 60vmin;
        border-radius: 10vmin;
        padding: 1vmin;
    }
    .but-map-lay {
        height: 18vmin;
        width: 58vmin;
        border-radius: 9vmin;
    }
    .but-map-lay .tex {font-size: 8vmin;}
    .but-map-lay img {
        height: 12vmin;
        width: 12vmin;
    }
}

@media screen and (max-width: 900px) {
    .home-content {
        background: rgba(0, 0, 0, 0.5);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .div-home {width: 90vw;}
    .home-title {
        position: relative;
        height: 45vh;
        width: 80vw;
    }
    .home-bro {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    .home-symbol {
        opacity: 0.75;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(15deg);
    }
    .home-gro {
        top: 45%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .home-date-text {font-size: 4vmax;}
    .home-get-text {font-size: 5vmax;}
    .bro-title {
        font-size: 10vh;
        padding-bottom: 90px;
    }
    .gro-title {
        font-size: 10vh;
        padding-top: 90px;
    }
    .button {font-size: 3vh;}
    .about-text {width: 100%;}
    .div-com {width: 100px;}
    .tim-val {font-size: 3.5vh;}
    .div-members {text-align: center;}
}
